# SlickEdit workspace and project files are ignored by default because
# typically they are considered to be developer-specific and not part of a
# project.
*.vpw
*.vpj
*.vpwhistu
*.vpwhist
*.vtg
*.vpwwildcardcache
*.old
Debug
build


